<h2>Admin Dashboard<h2>

<table class="table table-bordered">

    <tr>
      <th>Number of Products</th>
      <th>Number of Categories</th>
    </tr>
    <tr>
      <td> <%= @number_of_products %></td>
      <td> <%= @number_of_categories %> </td>
    </tr>

</table>
