<h1>  About Us </h1>

<p>
Jungle is an application which allows users to browse obscure items and place orders. <br> The orders won't be shipped but it is meant to be an Amazon clone of a sort. <br>Thank you for coming here to read about us. 
</p>